/* Основной стиль для заголовка */
.header {
    grid-area: header; /* Указывает, что элемент занимает область сетки "header" */
    background-color: #2c3e50; /* Устанавливает цвет фона */
    padding: 10px 20px; /* Устанавливает внутренние отступы */
    color: #fff; /* Устанавливает цвет текста */
    display: flex; /* Использует flexbox для макета */
    justify-content: space-between; /* Размещает элементы по краям контейнера */
    align-items: center; /* Центрирует элементы по вертикали */
    border-radius: 10px; /* Сглаживает углы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляет тень */
}

/* Стиль для изображения логотипа */
.header img {
    width: 50px; /* Устанавливает ширину изображения */
    border-radius: 50%; /* Делаем изображение кругом */
}

/* Стиль для заголовка */
.headerTitle {
    font-size: 1.5rem; /* Устанавливает размер шрифта */
    font-weight: bold; /* Устанавливает жирное начертание шрифта */
    color: #fff; /* Устанавливает цвет текста */
}

/* Контейнер для блока входа */
.loginBlock {
    position: relative; /* Устанавливает позиционирование относительно */
    display: flex; /* Использует flexbox для макета */
    align-items: center; /* Центрирует элементы по вертикали */
}

/* Стиль для кнопок внутри блока входа */
.loginBlock button {
    background: none; /* Убирает фон */
    border: none; /* Убирает границу */
    color: #fff; /* Устанавливает цвет текста */
    font-size: 1rem; /* Устанавливает размер шрифта */
    cursor: pointer; /* Меняет курсор на указатель при наведении */
    padding: 0; /* Убирает внутренние отступы */
   /* margin-left: 10px; !* Добавляет левый отступ *!*/
}

/* Стиль для выпадающего меню */
.dropdownMenu {
    display: none; /* Изначально скрывает меню */
    position: absolute; /* Абсолютное позиционирование относительно родительского элемента */
    top: 100%; /* Располагает меню под родительским элементом */
    right: 0; /* Прижимает меню к правому краю родительского элемента */
    background-color: #2c3e50; /* Устанавливает цвет фона */
    border: 1px solid #4a76a8; /* Устанавливает границу */
    border-radius: 5px; /* Сглаживает углы */
    overflow: hidden; /* Обрезает содержимое, выходящее за пределы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляет тень */
}

/* Общий стиль для ссылок и кнопок в выпадающем меню */
.dropdownMenu a,
.dropdownMenu button {
    display: block; /* Устанавливает блочное отображение */
    padding: 5px 20px; /* Устанавливает внутренние отступы */
    color: #fff; /* Устанавливает цвет текста */
    text-decoration: none; /* Убирает подчеркивание текста */
    font-size: 1rem; /* Устанавливает размер шрифта */
    background: none; /* Убирает фон */
    border: none; /* Убирает границу */
    cursor: pointer; /* Меняет курсор на указатель при наведении */
    text-align: left; /* Выравнивает текст по левому краю */
    width: 100%; /* Устанавливает ширину на 100% */
}

/* Стиль для ссылок и кнопок при наведении в выпадающем меню */
.dropdownMenu a:hover,
.dropdownMenu button:hover {
    background-color: #3b5a7a; /* Меняет цвет фона при наведении */
}

/* Показывает выпадающее меню при наведении на блок входа */
.loginBlock:hover .dropdownMenu {
    display: block; /* Показывает меню */
}
